@import url(https://fonts.google.com/specimen/Karla);

body {
    background-color: hsl(204, 43%, 93%);
    font-family: 'Karla';
    font-size: 16px;
    line-height: 25px;
    padding: 25px;
}

.container {
    box-sizing: border-box;
    border-radius: 6px;
}

.top {
    background-color: white;
    margin: 0, auto;
    padding: 25px;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
}

#top-h1 {
    color: hsl(179, 62%, 43%);
}

#top-h2 {
    color: hsl(71, 73%, 54%);
}

#top-p {
    color: hsl(218, 22%, 67%);
}

.middle {
    background-color: hsl(179, 62%, 43%);
    margin: 0, auto;
    padding: 25px;
}

#middle-h1 {
    color: hsl(204, 43%, 93%);
    font-size: 25px;
}

#middle-h2 {
    color: hsl(204, 43%, 93%);
    font-size: 35px;
}

#middle-h2-span {
    font-size: 15px;
    color: hsl(0, 0%, 79%);
    font-weight: 400;
}

#middle-p {
    color: hsl(204, 43%, 93%);
}

button {
    background-color: hsl(71, 73%, 54%);
    color: white;
    font-family: 'Karla';
    padding:15px 160px;
    font-size:18px;
    line-height:1.3333333;
    border-width: 0px;
    border-radius:6px;
}

button:hover {
    box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.1), 0 4px 10px 0 rgba(0, 0, 0, 0.10);
    -webkit-transition: 0.3s;
    transition: 0.3s;
}

.bottom {
    background-color: rgb(74, 190, 189);
    margin: 0, auto;
    padding: 25px;
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
}

#bottom-h1 {
    color: white;
    font-size: 15px;
}

.info {
    color: hsl(0, 0%, 87%);
    line-height: 4px;
    font-weight: 400;
}

@media (min-width: 600px) {
    .container {
        margin: 100px auto 100px auto;
        max-width: 600px;
        display: grid;
    }

    .top {
        grid-column-start: 1;
		grid-column-end: -1;
    }

    .middle {
        border-radius: 0 0 0 10px;
    }

    button {
        padding: 15px 100px;
    }

    .bottom {
        border-radius: 0 0 10px 0;
    }
}

.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }
